<div id="<%= dom_id favorite_list %>">
  <p>
    <strong>User:</strong>
    <%= favorite_list.user_id %>
  </p>

  <p>
    <strong>Episode:</strong>
    <%= favorite_list.episode_id %>
  </p>

</div>
