<div id="<%= dom_id reminder %>">
  <p>
    <strong>User:</strong>
    <%= reminder.user_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= reminder.content_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reminder.status %>
  </p>

</div>
