<h1>Editing payement detail</h1>

<%= render "form", payement_detail: @payement_detail %>

<br>

<div>
  <%= link_to "Show this payement detail", @payement_detail %> |
  <%= link_to "Back to payement details", payement_details_path %>
</div>
