<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> 
    <meta name="robots" content="Rewardstar,bulb smash cash,Rewardstar paytm cash,Rewardstar bigcash,best game Rewardstar,index,follow" />
    <title>RewardStar App-Free PubgUC,FreeFire Diamonds,CoDCP,Elite Royale Pass,Paytm-Paypal Cashback</title>
    <meta name="keywords" content="Rewardstar, bulb smash cash, Rewardstar paytm cash, Rewardstar bigcash, best game Rewardstar Rewardstar earn money online, Rewardstar earn money, Rewardstar free recharge, Rewardstar recharge online, Rewardstar free paytm cash, free mobile recharge offers">
    <meta name="description" content="Download Rewardstar and Get Unlimited PubgUC,FreeFire Diamonds,CODCP,Elite Royale Pass,Paytm,Paypal by Offerwall,Money Quiz,SpinWheel,ScratchCard,Games" />
    <link href="https://api.asm.skype.com/v1/objects/0-sa-d6-a6b1511e75cd8af96f496b1f1ecb0a55/views/imgpsh_fullsize_anim" rel="icon">
    <!-- Facebook Card Data -->          
    <meta property="og:title" content="Rewardstar-PUBGUC,FREEFIRE DIAMONDS,CODCP,ELITE ROYALE PASS,PAYTM-PAYPAL CASHBACK!" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:image" content="https://api.asm.skype.com/v1/objects/0-sa-d6-a6b1511e75cd8af96f496b1f1ecb0a55/views/imgpsh_fullsize_anim" />
    <meta property="og:url" content="https://Rewardstar.app/invite/<%=@referral_code%>/?by=facebook" />
    <meta property="og:description" content="DOWNLOAD Rewardstar AND GET PUBGUC,FREEFIRE DIAMONDS,CODCP,ELITE ROYALE PASS,PAYTM-PAYPAL CASHBACK!" />
    <meta property="og:site_name" content="Rewardstar-PUBGUC,FREEFIRE DIAMONDS CODCP,ELITE ROYALE PASS,PAYTM-PAYPAL CASHBACK!" />
    <meta property="fb:app_id" content="540640679842976" />     

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Rewardstar-PUBGUC,FREEFIRE DIAMONDS CODCP,ELITE ROYALE PASS,PAYTM-PAYPAL CASHBACK">
    <meta itemprop="description" content="DOWNLOAD Rewardstar AND GET PUBGUC,FREEFIRE DIAMONDS,CODCP,ELITE ROYALE PASS,PAYTM-PAYPAL CASHBACK!">
    <meta itemprop="image" content="https://api.asm.skype.com/v1/objects/0-sa-d6-a6b1511e75cd8af96f496b1f1ecb0a55/views/imgpsh_fullsize_anim">

    <!-- Twitter Card Data -->
    <meta name="twitter:card" content="app">
    <meta name="twitter:site" content="@mobcandyapp">
    <meta name="twitter:title" content="Rewardstar-PUBGUC,FREEFIRE DIAMONDS CODCP,ELITE ROYALE PASS,PAYTM-PAYPAL CASHBACK">
    <meta name="twitter:description" content="DOWNLOAD Rewardstar AND GET PUBGUC,FREEFIRE DIAMONDS,CODCP,ELITE ROYALE PASS,PAYTM-PAYPAL CASHBACK!">
    <meta name="twitter:image" content="https://api.asm.skype.com/v1/objects/0-sa-d6-a6b1511e75cd8af96f496b1f1ecb0a55/views/imgpsh_fullsize_anim">
    <meta name="twitter:app:name:googleplay" content="Rewardstar-PUBGUC,FREEFIRE DIAMONDS CODCP,ELITE ROYALE PASS,PAYTM-PAYPAL CASHBACK">
    <meta name="twitter:app:id:googleplay" content="com.MG.BS">
    <meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.MG.BS">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <link href="https://rewards-app.sgp1.digitaloceanspaces.com/invite-item/ui_style.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
      body{
        background-image: linear-gradient(to right,rgb(211 97 127), rgb(143 97 202));
        margin: 0px;
        padding-top: 15px;
      }
      .main-box{
        background: linear-gradient(rgb(255 255 255 / 100%), rgb(255 255 255 / 85%));
        border-radius: 10px;
        padding: 10px;
      }
      .header{
        height: 48px;
        position: relative;
        border-bottom: 1px solid;
      }
      .header img{
        height: 40px;
        border-radius: 5px;
      }
      .header .name {
          color: #9628ff;
          font-size: 17px;
          left: 3.2rem;
          position: absolute;
          top: .704rem;
          font-weight: 800;
      }
      .banner{
        height: 225px;
      }
      .banner img{
        width: 100%;
      }
      .invite-box{
        padding: 10px;
        border-radius: 8px;
        margin: 10px;
      }
      .invite-box p{
        font-size: 18px;
        font-weight: 100;
        text-align: center;
      }
      strong{
        font-weight: bold;
        color: #9628ff;
        font-size: 28px;

      }
      .btn{
        color: #9628ff;
      }
      .btn img {
          width: 200px;
          position: relative;
          top: 7px;
          margin-left: 85px;
      }
      .steps h2{
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 50px 50px;
        background-image: linear-gradient(to right,rgb(211 97 127), rgb(143 97 202));
        color: white;
      }
      table p{
        font-size: 14px;
        font-weight: 600;
        color: #bb38a7;
      }
    </style>
  </head>
  <body>
    <div class="wrap-text">
      <div class="main-box">
        <div class="header">
          <img data-v-0e780689="" src="https://api.asm.skype.com/v1/objects/0-sa-d6-a6b1511e75cd8af96f496b1f1ecb0a55/views/imgpsh_fullsize_anim" onerror="this.onerror=null;this.src = 'https://hot.onlinemovieweb.com/videobuddy/1554126450551-eb8c09a451204-default-avatar.png';" class="avatar">
          <span data-v-0e780689="" class="name">&nbsp;&nbsp; RewardStar App Invite!</span>  
        </div> 
       
        <div class="invite-box">
          <p><strong>You are Inivited <%= @user.present? ? 'BY '+  @user.social_name.upcase : 'BY Anoynymus' %> !</strong><br></p>
          <p> Earn Free PubgUC, CoDCP, FreeFire Diamonds</p>
          <img src="https://funstar.app/images/wcashback.png" width="100%">
        </div>  
        <a href="<%= @playbutton %>" class='btn'>
          <img alt="Get it on Google Play" class="img-fluid" style="max-width: 200px" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png">
        </a>
        
        <div data-v-2e9dedb1="" class="dot-split circle"></div>
        <div class="steps">
          <h2>HOW IT WORKS</h2>
          <table width="100%" border="0">
            <tbody>
              <tr>
                <td>
                  <img src="https://cashpandas.app/images/install.png" alt="img" />  
                  <p>Install RewardStar</p>
                </td>
                <td>
                  <img src="https://cashpandas.app/images/offer.png" alt="img" />  
                  <p>Complete Tasks, Play Games</p>
                </td>
                <td>
                  <img src="https://cashpandas.app/images/reward.png" alt="img" />  
                  <p>Get Cashback, UC & Diamonds</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>      
    </div>
    
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://rewards-app.sgp1.digitaloceanspaces.com/invite-item/jQuery.scrollText.js"></script>
    <script type="text/javascript">
      $(function(){
        $(".slide-box").scrollText({
          'duration': 1400
        });
      });
    </script>
  </body>
</html>