<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header" style="margin: 10px 0 15px !important;">New Content</h2>
    </div>
  </div>
  <%= render "form", help_desk: @help_desk %>
  <%= link_to "Back to help desks", help_desks_path %>
</div>