<div id="<%= dom_id play_time %>">
  <p>
    <strong>User:</strong>
    <%= play_time.user_id %>
  </p>

  <p>
    <strong>Episode:</strong>
    <%= play_time.episode_id %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= play_time.time %>
  </p>

</div>
