<h1>Editing play time</h1>

<%= render "form", play_time: @play_time %>

<br>

<div>
  <%= link_to "Show this play time", @play_time %> |
  <%= link_to "Back to play times", play_times_path %>
</div>
