<div id="<%= dom_id query %>">
  <p>
    <strong>User:</strong>
    <%= query.user_id %>
  </p>

  <p>
    <strong>Query type:</strong>
    <%= query.query_type %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= query.message %>
  </p>

</div>
